{% set image = page.media.images|first %}
<section id="services-1" class="services-section section-space-padding" style="background-image: url({{ image.url }})">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ header.titre_services }}</h2>
      </div>
    </div>
    <div class="row hover-extend">
      <div class="col-md-4 col-sm-6">
        <div class="services-detail">
          {% for image in header.encart_gauche_pictogramme %}
            <img class="picto" src="{{ image.path }}" />
          {% endfor %}      
          <h3>{{ header.encart_gauche_titre }}</h3>
          <hr>
          <p>{{ header.encart_gauche_texte }}</p>
          <p class="reveal">{{ header.encart_gauche_texte_cache }}</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="services-detail">
          {% for image in header.encart_milieu_pictogramme %}
            <img class="picto" src="{{ image.path }}" />
          {% endfor %}      
          <h3>{{ header.encart_milieu_titre }}</h3>
          <hr>
          <p>{{ header.encart_milieu_texte }}</p>
          <p class="reveal">{{ header.encart_milieu_texte_cache }}</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="services-detail">
          {% for image in header.encart_droite_pictogramme %}
            <img class="picto" src="{{ image.path }}" />
          {% endfor %}      
          <h3>{{ header.encart_droite_titre }}</h3>
          <hr>
          <p>{{ header.encart_droite_texte }}</p>
          <p class="reveal">{{ header.encart_droite_texte_cache }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
