<div id="menu-0" class="m-app">
    <section>
      <nav class="navbar navbar-dropdown navbar-fixed-top">
        <div class="container">
          <div class="mbr-table">
            <div class="mbr-table-cell">
              <a class="navbar-caption" href="/">
                <img class="logo" src="{{ page.media['logo-dalalu.png'].url }}" alt="" />
              </a>
            </div>
            <div class="mbr-table-cell">
              <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                <div class="hamburger-icon"></div>
              </button>
              <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar" style="margin: 0;">
                {% if header.surbrillance_page_1 == 1 %}
                <li class="nav-item open">
                {% else %}
                <li class="nav-item">
                {% endif %}
                  <a class="nav-link link mbr-editable-menu-item" href="{{ header.urlpage1 }}">{{ header.nompage1 }}</a></li>       
                {% if header.surbrillance_page_2 == 1 %}
                <li class="nav-item open">
                {% else %}
                <li class="nav-item">
                {% endif %}
                  <a class="nav-link link mbr-editable-menu-item" href="{{ header.urlpage2 }}">{{ header.nompage2 }}</a></li>
                {% if header.surbrillance_page_3 == 1 %}
                <li class="nav-item dropdown open">
                {% else %}
                <li class="nav-item dropdown">
                {% endif %}
                  <a class="nav-link link dropdown-toggle mbr-editable-menu-item" href="{{ header.urlpage3 }}" data-toggle="dropdown-submenu" aria-expanded="false">{{ header.nompage3 }}</a>
                  <div class="dropdown-menu dropdown-menu-right">
                  {% for part in header.partpage3 %}
                    <a class="dropdown-item mbr-editable-menu-item" href="{{ part.url }}">{{ part.text }} </a>                  
                  {% endfor %}
                  </div>
                </li>
                {% if header.surbrillance_page_4 == 1 %}
                <li class="nav-item open">
                {% else %}
                <li class="nav-item">
                {% endif %}
                  <a class="nav-link link mbr-editable-menu-item" href="{{ header.urlpage4 }}">{{ header.nompage4 }}</a></li>
              </ul>
              <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                <div class="close-icon"></div>
              </button>
            </div>
          </div>
        </div>
      </nav>
    </section>
  </div>